<html>
      <head>
        <title>{{ ansible_date_time.date }}</title>
      </head>
      <body>
        <h1>Current date and time:</h1>
        <p>{{ ansible_date_time.date }}</p>
        <p>{{ ansible_date_time.time }}</p>
      </body>
      </html>